/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (min-width: 1024px) {

  /* Logo */

  /* Categories */

  /* Left */

  /* Right */

  h1 {
    font-size: var(--type-scale-11-lg-size);
    letter-spacing: var(--type-scale-lg-spacing);
    line-height: var(--type-scale-lg-height);
  }
  h2 {
    font-size: var(--type-scale-10-lg-size);
    letter-spacing: var(--type-scale-lg-spacing);
    line-height: var(--type-scale-lg-height);
  }
  h3 {
    font-size: var(--type-scale-9-lg-size);
    letter-spacing: var(--type-scale-lg-spacing);
    line-height: var(--type-scale-lg-height);
  }
  h4 {
    font-size: var(--type-scale-8-lg-size);
    letter-spacing: var(--type-scale-lg-spacing);
    line-height: var(--type-scale-lg-height);
  }
  h5 {
    font-size: var(--type-scale-7-lg-size);
    letter-spacing: var(--type-scale-lg-spacing);
    line-height: var(--type-scale-lg-height);
  }
  h6 {
    font-size: var(--type-scale-6-lg-size);
    letter-spacing: var(--type-scale-lg-spacing);
    line-height: var(--type-scale-lg-height);
  }

  img {
    box-shadow: 0px 0px 12px 4px var(--shade-600);
  }

  main {
    margin: auto 4rem;
  }

  main article p,
  ol,
  ul,
  dl,
  #search {
    max-width: 52em;
  }

  main article p {
    margin: 2rem auto;
  }
  main article ul,
  ol,
  dl {
    margin: 0 auto;
  }

  nav.toc ul,
  nav.toc li {
    margin: 0 auto;
  }

  main article h1,
  main article h2,
  main article h3,
  main article h4,
  main article h5,
  main article h6 {
    filter: drop-shadow(0px 1px 1px var(--tint-100-shadow));
  }
}
