/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (min-width: 768px) {
  main {
    margin: auto 4rem;
  }

  /* Styles for the Archives page */
  .article_text dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    justify-items: center;
  }
  .archives-article {
    align-content: center;
    align-items: center;
    column-gap: 3em;
    display: grid;
    grid-column: 1 / -1;
    justify-content: space-between;
    row-gap: 1em;
    width: 32em;
  }
  .archives-article dt {
    grid-column: 1;
  }
  .archives-article dd {
    grid-column: 2;
    white-space: normal;
    word-wrap: break-word;
    text-align: right;
  }
}
