@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 1ms !important;
  }

  main {
    animation: none !important;
  }

  .svgLogo,
  .svgLogo:hover,
  .footer-icon,
  .footer-icon:hover,
  .sibling-fade:hover > *,
  .sibling-fade > *:hover {
    transform: none !important;
  }
}
