@import 'pygment.css';

.paginator {
    text-align: center;
    margin: 20px;
}

.btn {
    border-radius: 0;
}

a:visited.btn {
     color: #ffffff; 
}
.btn-outline-info {
    color: #1b6182;
    border-color: #1b6182;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #002e5f;
    border-color: #17a2b8;
}

.btn-info {
    color: #fff;
    background-color: #002e5f;
    border-color: #002e5f;
}

.btn-info:hover {
    color: #fff;
    background-color: #000000;
    border-color: #45464c;
}

.category-article {
    display:inline-block;
    padding-right: 1rem;
}

.max-size-img-post {
    max-width: 90%;
}

.extra-space {
    margin: 1rem 0;
}

.emphasis {
    background-color: #d0dcff;
    color: #000000!important;
    font-weight: bold;
    padding: 0 0.5rem;
    text-transform: lowercase;
}

ul#post-list {
    list-style-type: none;
}

footer#contentinfo {
    background-color: #283B42;
    border-bottom: #000 1px solid;
    border-top: #000 1px solid;
    color: #f8f9fa;
    display: table;
    font-size: 0.8rem;
    padding: 3%;
    position: relative;
    text-align: center;
    width: 100%;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
    display: table-cell;
    vertical-align: middle;
    padding-top: 15px;
    text-shadow: 0 0 3px black;
}

address.footer-icons {
    display: table-header-group;
}


#contentinfo a {
    color: #fff;
}

section#content {
    height: auto;
    min-height: 100%;
    margin: 1%;
}

ol#post-list {
    font-size: 1.2rem;
    list-style-type: none;
}

section#content:after {
    content: "";
    display: block;
    height: 1px;
}

footer#contentinfo a:hover {
    color: #d0f2ff;
}

a.nav-link {
    font-size: 1.5rem;
}

time.modified {
    font-size: 0.95rem;
    line-height: 200%;
    padding-left: 10px;
}

#index {
    background-color: #CEDBD9;
    color: #283B42;
}

a.brand-link {
    display: contents;
}

.brand-logo {
    max-width: 50px;
}


a.nav-link-smaller {
    font-size: 1.2rem;
}

a.nav-link-smallest {
    font-size: 1.0rem;
}
nav#menu {
    border-top: #1b6182 1px solid;
    display: block;
    width: 100%;
    text-align: right;
}

.post-info-space {
    padding-left: 0.5rem;
}

.always-white:visited {
    color: #ffffff;
}

.always-white:hover {
    color: #d0f2ff;
}

.menu-categories-legend {
    color: #fff;
    margin-right: 1rem;
}

.uppercase-title {
    text-transform: uppercase;
    font-size: 2rem;
}

.lowercase-title {
    text-transform: lowercase;
}

.img-categories {
    position:absolute;
    right: 3%;
    bottom:30%;
}


/* @media queries */

@media (min-width: 992px) {

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}

.to-the-right {
    padding-left: 20px;
}

.always-white {
    color: #ffffff;
    padding-right: 2.5rem;
    white-space: nowrap;
}
#submenu-categories-legend{
    display: none;
}
}

/* END @media (min-width: 992px) {*/


@media (max-width: 992px) {
.always-white {
    color: #ffffff;
}

footer#contentinfo {
    padding: 5% 10%;
}

#menu-categories-legend-id{
    display: none;
}
}

@media (max-width: 576px) {

.jumbotron {
    padding: 1%;
    border-radius: 0;
}

section#content {
     margin: 0; 
}

.card {
    border: none;
    border-radius: unset;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin: -1%;
    margin-bottom: 2%;
}

footer.post-info {
    padding: 2%;
}

.display-4 {
    padding: 2%;
}
}

/* END @media */

button.navbar-toggler:focus {
    outline: none;
}

/* Code Blocks */

table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

pre {
    padding: 0 10px;
}

.linenodiv {
    background-color: #d4e5ea;
}

/* Bootstrap modifications below */

html, body {
    background-color: #CEDBD9;
    color: #283B42;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}

.display-4 {
    font-size: x-large;
}

.h2, h2 {
    font-size: x-large;
}

a {
    color: #00015f;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #350035;
}

a:hover {
    color: #000000;
}

p {
    margin: 10px 0;
    padding: 0;
}

.navbar {
    padding: 1.5rem 1rem;
    text-align: right;
}

.navbar-toggler {
    border-radius: .75rem;
}

.bg-dark {
    background-color: #002e5f!important;
    text-shadow: 0px 0px 1px black;
}

#bg-darker {
    background-color: #000000!important;
    text-shadow: 0px 0px 1px black;
}

.footer-borders {
    background-image: url("/theme/images/footer/contributions.svg");
    background-repeat: repeat;
    padding: 12px 0px;
}

