/* BASE TEMPLATE */
blockquote {
    background-color: #d4e5ea;
    border: 1px solid #AAB2B5;
    font-style: italic;
    padding: 1% 3%;
    margin: 0.2em 0.2em 1rem 0.2em;
}

sub, sup {
    position: inherit;
    font-size: 90%;
    border: 1px dashed #AAB2B5;
    background-color: #f8f8ff;
}

ul#post-list>li {
     list-style-type: none;
}

figure {
	background: #fff;
	overflow: hidden;
}

.hover-img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover-img:hover {
    color:#fff;
	opacity: .5;
}

.always-white:visited {
    color: #DFE5EB;
}

.always-white:hover {
    color: #8096AF;
}

.menu-categories-legend {
    color: #fff;
    margin-right: 1rem;
}

.uppercase-title {
    font-size: 2rem;
    text-transform: uppercase;
}

.lowercase-title {
    text-transform: lowercase;
}

.img-categories {
    display: none;
}
    bottom:30%;
    position:absolute;
    right: 3%;
}

#index {
    background-color: #CEDBD9;
    color: #1D1D1E;
}

.brand-link {
    display: contents;
}

.brand-logo {
    max-width: 40px;
}

.nav-link-smaller {
    font-size: 1.2rem;
}

.nav-link-smallest {
    font-size: 1.0rem;
}

#menu {
    border-top: #1b6182 1px solid;
    display: block;
    text-align: right;
    width: 100%;
    background-color: #002e5f;
}

.extra-space {
    margin: 0.25rem 0;
}

.emphasis {
    background-color: #d4e5ea;
    border: 1px solid #E9ECEF;
    color: #000000;
    display: block;
    font-weight: bold;
    margin-top: 0.2rem;
    padding: 0.2rem 0.5rem;
    text-transform: lowercase;
    transition: 0.5s ease;
}

.emphasis:hover {
    background-color: #D9E8ED;
    border: 1px solid #C9D8DD;
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: “FlipH”;
}

.no-li-marker {
    list-style: none;
}

.tags {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.inline-icon {
    display: inline-block;
    float: right;
}

::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #007bff;
}

::selection {
  color: #ffffff;
  background: #007bff;
}

nav i {
    color: #ffffff;
}

i {
    color: #002e5f;
    margin-left: 0.2em;
    margin-right: 0.1em;
}

#bg-darker {
    background-color: #000000;
    text-shadow: 0 0 1px black;
}


/* end BASE TEMPLATE */

/* SCROLLBAR */
body::-webkit-scrollbar {
    width: 0;
    background-color: #ffffff;
}

body::-webkit-scrollbar:hover {
    background-color: #e9ecef;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ffffff;
    -moz-box-shadow: inset 0 0 6px #ffffff;
    box-shadow: inset 0 0 6px #ffffff;
}

body::-webkit-scrollbar-thumb {
    background-color: #007bff;
    outline: 1px solid #ffffff;
}
/* end SCROLLBAR */

/* FOOTER */
.footer-borders {
    background-image: url("/theme/images/footer/contributions.svg");
    background-repeat: repeat;
    padding: 12px 0;
}

#contentinfo {
    background-color: #0A2431;
    border-bottom: #000 1px solid;
    border-top: #000 1px solid;
    color: #E0E4E5;
    display: table;
    font-size: 0.8rem;
    padding: 30px;
    position: relative;
    text-align: center;
    width: 100%;
}

address {
    display: table-cell;
    font-style: normal;
    line-height: inherit;
    padding-top: 15px;
    text-shadow: 0 0 3px black;
    vertical-align: middle;
}

.footer-icons {
    display: table-header-group;
}

#contentinfo a:hover {
    color: #C6D7E0;
}

.hover-footer-bg {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-footer-bg:hover {
    color:#fff;
}

.get-in-touch-icons {
    display: inline-flex;
}

#author-footer li {
    display: inline-flex;
    padding-left: 5px;
    list-style: none;
    width: 16px;
    height: 16px;
}

#author-footer li a img {
    width: 16px;
    height: 16px;
}

#version-footer {
    font-size: 0.7rem;
}

.footer-bottom-icon {
    height: 1rem;
    width: auto;
}

footer .social-footer {
    padding: 10px;
    list-style: none;
}

footer .social-footer li {
    display: inline-flex;
    margin: 0 10px;
}

footer .social-footer li:hover a {
    color: #ffffff;
}

footer a img {
    width: 32px;
    height: 32px;
    margin: 0 5px;
    opacity: 1;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: 0.3s ease;
}

footer a img:hover {
    opacity: 0.5;
    filter: drop-shadow(0px 0 15px #000000);
    -webkit-filter: drop-shadow(0px 0 15px #000000);
    -moz-filter: drop-shadow(0px 0 15px #000000);
    -webkit-filter: drop-shadow(0px 0 15px #000000);
}
/* end FOOTER */

/* ARTICLE PAGE */
.category-article {
    display: block;
}

.max-size-img-post {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#contentinfo a {
    color: #fff;
}

#content {
    height: auto;
    margin: 1%;
    min-height: 100%;
    border: 1px solid #C4D0CE;
}

section#content:after {
    content: "";
    display: block;
    height: 1px;
}

.modified {
    font-size: 0.95rem;
    line-height: 200%;
    padding-left: 10px;
}

.post-info-space {
    padding-left: 0.5rem;
}

.card-body {
    padding: 1em;
}

.card-body>hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-body>ul {
    padding-left: 1em;
}

.card-body>ul>li {
    padding: 10px;
    margin-left: 1em;
}
/* end ARTICLE PAGE */

/* INDEX PAGE */
.paginator {
    margin: 20px;
    text-align: center;
}
/* end INDEX PAGE */

/* DISQUS */
.position-comments-count {
    text-align: right;
}

.position-comments-count a:link, .position-comments-count a:visited, .position-comments-count, a:hover {
    color:#ffffff
}
/* end DISQUS */

/* CODE BLOCKS */
table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

pre {
    padding: 0 10px;
}

.linenodiv {
    background-color: #d4e5ea;
}
/* end CODE BLOCKS */

/* PAGE LEARNING-PROCESS */
.no-padding {
    padding: 0;
}

.learning-year {
    font-size:x-large;
    font-weight: bold;
    padding-bottom: 1em;
    text-align: center;
}

.learning-month {
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
}

.blue-content {
    background-color: #DFE5EB;
}

.grey-content {
    background-color: #BFBFBF;
}

.blue-day {
    font-weight: bold;
    text-align: center;
    background-color: #DFE5EB;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002e5f;
    color: #ffffff;
}

.grey-day {
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
}

/* end PAGE LEARNING-PROCESS */

/* COLLAPSIBLE CONTENT */
.panel {
  border: 0;
  margin-bottom: 0;
}

/* https://www.w3schools.com/howto/howto_js_collapsible.asp
Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
}

/* Style the collapsible content. Note: hidden by default */
.month-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-in;
}
/* end COLLAPSIBLE CONTENT */

/* TAG CLOUD PELICAN PLUGIN */
ul.tagcloud {
    background-color: #eff4f9;
    border-radius: .75rem;
    border: 1px solid #d0e5fb;
    box-shadow: 0 0 2px #cbdae8;
    list-style: none;
    margin: 2.5rem 0.4em;
    padding: 1em;
    text-align: center;
}

ul.tagcloud li {
    display: inline-block;
    padding: 1rem;
}

.tag-1 {
    font-size: 180%;
}

.tag-2 {
    font-size: 160%;
}

.tag-2 {
    font-size: 140%;
}

.tag-3 {
    font-size: 120%;
}

.tag-4 {
    font-size: 100%;
}

.tag-5 {
    font-size: 80%;
}

ul.tagcloud .list-group-item span.badge {
    background-color: grey;
    color: white;
}
/* end TAG CLOUD PELICAN PLUGIN */

/* BOOTSTRAP MODIFICATIONS BELOW */
html, body {
    background-color: #CEDBD9;
    color: #283B42;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}

button:focus {
    outline-color: #007bff;
}

.btn {
    border-radius: 0;
}

.badge {
    border-radius: 0;
}

.container {
    max-width: none;
}

.col-12 {
    padding-right: 0;
    padding-left: 0;
}

a:visited.btn {
     color: #ffffff;
}

.btn-outline-info {
    border-color: #1b6182;
    color: #1b6182;
}

.btn-outline-info:hover {
    background-color: #002e5f;
    border-color: #17a2b8;
    color: #fff;
}

.btn-info {
    background-color: #002e5f;
    border-color: #002e5f;
    color: #fff;
}

.btn-info:hover {
    background-color: #000000;
    border-color: #45464c;
    color: #fff;
}

.display-4 {
    font-size: larger;
    font-weight: bold;
}

.h2, h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

.h3, h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.h4, h4 {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 1.5rem;
}

.h5, h5 {
    font-size: 1.05rem;
    font-weight: bold;
}

a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: 0.3s color ease;
    transition: 0.3s color ease;
}

a:visited {
    color: #7d00a2;
}

a:hover {
    color: #000000;
}

p {
    margin: 1em;
    padding: 0;
}

li {
    list-style-type: square;
    margin-left: -1em;
}

.col-12 li {
    list-style-type: none;
}

ul {
    margin-top: 0.5em;
}

.navbar-dark .navbar-nav .nav-link {
     color: #c1c1c1;
}

.navbar-dark .navbar-nav .nav-link.active-link {
    color: #e9ecef;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
     color: #ffffff;
}

.navbar {
    padding: 1.5rem 1rem;
    text-align: right;
}

.navbar-toggler {
    border-radius: .75rem;
}

.bg-dark {
    background-color: #002e5f;
    text-shadow: 0 0 1px black;
}

.table {
    display: table;
    white-space: normal;
    margin-bottom: 3rem;
}

.table .thead-dark th {
    background-color: #002e5f;
    border: none;
    padding: 0.5rem;
}

th {
    text-align: center;
}

hr {
    border-top: 1px solid #1b6182;
}

.active-nav {
    /*background-color: #090909;*/
}

li>a.active-link>i {
    color: #006bff;
}

.nav-item {
    list-style: none;
    margin-left: 0;
}

.card {
    border-radius: unset;
}

.jumbotron {
    border-radius: unset;
}

code {
    font-size: 87.5%;
    color: #FF007B;
    font-weight: bold;
    word-break: break-word;
    background-color: #FFDFEF;
    padding: 5px;
}

header {
    padding: 0.3em;
}

#content {
    margin: 0;
}

.card-body {
    padding: 0.1em;
}

.modified {
    display: table-row-group;
}

#post-list {
    padding-left: 0.5em;
}

footer .social-footer li {
    display: contents;
}

#bg-darker {
    background-color: #000000;
    text-shadow: 0 0 1px black;
}

.navbar-toggler {
    margin-top: 15px;
    margin-bottom: 5px;
}

.jumbotron {
    padding: 1%;
}

.card {
    border-bottom: 1px solid #D6D6D6;
    border-top: 1px solid #D6D6D6;
    border: none;
    margin-bottom: 2%;
    margin: -1%;
}

.post-info {
    padding: 1em;
}

h1, h2, h3, h4, h5, h6, .display-4 {
    padding: 2%;
}


/* @MEDIA QUERIES */

@media (min-width: 576px) {

.category-article {
    display: inline-block;
}
.emphasis {
    display: inline-block;
}
}

@media (min-width: 700px) {

body::-webkit-scrollbar {
    width: 0.5rem;
}


.card {
    margin: 0;
}

}

@media (max-width: 992px) {

body::-webkit-scrollbar {
    width: 0;
}

.navbar {
     padding: 0 1rem 0.5rem 0.5rem;
}

.always-white {
    color: #DFE5EB;
}

#menu-categories-legend-id{
    display: none;
}
}

@media (min-width: 992px) {

.img-categories {
    bottom: 30%;
    display: flex;
    position: absolute;
    right: 3%;
}

#bg-darker {
    background-image: url("/theme/images/header/abstract_path_horizontal.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 50%;
    background-position-x: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 2rem;
    padding-right: 2rem;
}

.to-the-right {
    padding-left: 20px;
}

.always-white {
    color: #DFE5EB;
    padding-right: 2.5rem;
    white-space: nowrap;
}
#submenu-categories-legend{
    display: none;
}
}
/* end @MEDIA */
