{{ $paginator := .Paginator }}
{{ if gt $paginator.TotalPages 1 }}
<nav class="pagination" aria-label="Pagination">
  <div class="pagination__prev">
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}" rel="prev">&larr; Newer posts</a>
    {{ end }}
  </div>
  <p class="pagination__status">Page {{ $paginator.PageNumber }} of {{ $paginator.TotalPages }}</p>
  <div class="pagination__next">
    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" rel="next">Older posts &rarr;</a>
    {{ end }}
  </div>
</nav>
{{ end }}
